{% extends "blog/base.html" %}

{% block title %} {{post.title}} {%endblock%}

{%block content%}
    <h1>{{posta.title}}</h1>
    <p class="date"> Published {{post.publish}} by {{post.author}} </p>
    {{post.body | linebreaks}}
    <p>
        <a href="{% url "blog:post_share" post.id %}">
            Share This post
        </a>
    </p>
    {% with comments.count as comment_max%}
        <h2>
            {{comment_max}} comment{{ comment_max|pluralize }}
        </h2>
    {% endwith %}

    {% for com in comments%}
        <div class="comment">
            <p class="info">
                Comment {{forloop.counter}} by {{com.name}}
                {{com.created}}
            </p>
            {{com.body|linebreaks}}
        </div>
    {% empty %}
        <p>No comments.</p>
    {% endfor %}
    {% include "blog/post/includes/comment_form.html"%}
{% endblock %}